.rcw-launcher {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.rcw-sender {
    display: flex;
    justify-content:space-between;
    align-items: center;
}